<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drhui.rabbit.user.mapper.UserMapper">
    <select id="selectAllUser" resultType="com.drhui.rabbit.user.model.UmsMember">
        select * from ums_member
    </select>

<!--    <insert-->
<!--            id="saveUser" parameterType="com.test.springtest.User"-->
<!--            useGeneratedKeys="true">-->
<!--        insert into student(NAME,AGE) values (#{name},#{age})-->
<!--    </insert>-->
</mapper>